<footer class="container-fluid">
    <div class="row footer">
        
    
    <div class="redesSociales">
        <a href="https://www.facebook.com" target="_blank" rel="noopener">
                <img src="/img/facebook.png" alt="Facebook" class="img-rounded">
        </a>
        <a href="https://www.twitter.com" target="_blank" rel="noopener">
            <img src="/img/twitter.png" alt="Twitter" class="img-rounded">
    </a>
    <a href="https://www.linkedin.com" target="_blank" rel="noopener">
        <img src="/img/linkedin.png" alt="Linkedin" class="img-rounded">
</a>
Siguenos en nuestras redes sociales
</div> 

<label>	Ivan Flores 2019 </label>
    </div>
</footer>