
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GBM Challenge</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

	<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

</head>
<body>
		<% include partials/header.ejs %>
<section class="container-fluid">
	<div class="row">
		<div class="col-md-3 hidden-xs">
		<div class="panel panel-default ">
                <div class="panel-heading">
                  <h3 class="panel-title">Indices</h3>
                </div>
                <div class="panel-body">
						<table class="table">
                                <tbody>
                                    <tr>
									<td ><a href="/">Inicio</a></td>
								  </tr>
								  <tr>
									<td ><a href="/notifications">Notificaciones</a></td>
								  </tr>
								  <tr>
									<th ><a href="/users">Usuarios</a></th>
								  </tr>

								</tbody>
							  </table>
				</div>
		</div>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Usuarios</h3>
                </div>
                <div class="panel-body table-responsive">
					<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Usuario</th>
          <th>Rol de usuario</th>
          <th>Usuario bloqueado</th>
          <th>Intentos fallidos</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>

        <% users.forEach(function(user,index){ %>
        <tr>
          <th scope="row"><%- index + 1  %></th>
          <td class="userName"><%- user.username %></td>
          <td >
            <select class="form-control rol">
                <% if(!user.isAdmin){ %>
                    <option value="false" selected>Normal</option>
                    <option value="true" >Administrador</option>
                <% }else{ %>
                    <option value="false">Normal</option>
                    <option value="true" selected>Administrador</option>
                    <%} %>
            </select>
        </td>
          <td>
            <select class="form-control isBlocked">
                <% if(!user.isBlocked){ %>
                    <option selected value="false">Desbloqueado</option>
                    <option value="true">Bloqueado</option>
                <% }else{ %>
                    <option value="false" >Desbloqueado</option>
                    <option value="true" selected>Bloqueado</option>
                    <%} %>
            </select>    
        </td>
          <td><%- user.failsAttempts %></td>
          <td><button type="button" class="btn btn-default" aria-label="Left Align" title="Guardar cambios" data-action="save">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-default" aria-label="Left Align" title="Restablecer usuario" data-action="reset">
  <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
</button>
<button type="button" class="btn btn-default" aria-label="Left Align" label="Eliminar" title="Eliminar usuario" data-action="delete">
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</button>
</td>
        </tr>
  <% }); %>
      </tbody>
    </table>
				</div>
		</div>
	</div>
	</div>


</section>


<ol class="breadcrumb">
		<li><a href="/">Inicio</a></li>
		<li><a href="/users">Usuarios</a></li>
	  </ol>
		<% include partials/footer.ejs %>
	
<script>
	$('button').on('click', function(){
		var row = $(this).closest('tr');
		var action = $(this).attr("data-action");
		var username = $(row).find('.userName').html();
		var rol = $(row).find('.rol').val();
		var isBlocked = $(row).find('.isBlocked').val();
	
		console.log(username, rol, isBlocked)



			var post_url = "/userOperations"; 
			var request_method = "POST"; 

			var data = {"operation": action, "username":username, "isAdmin":rol, "isBlocked":isBlocked}
			var form_data = $.param(data); 
	
			$.ajax({
				url : post_url,
				type: request_method,
				data : form_data
			}).done(function(response){ //
				alert(response);
				window.location.href = '/users';

			})


	})
</script>
	
</body>

</html>